/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.main-nav {
	display: inline-block;
	position: fixed;
	background: blue;
	padding: 20px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 100;
}

.main-nav .logo {
	position: relative;
	padding-top: 10px;
	margin-left: 450px;
	width: 150px;
	height: auto;
}

.main-nav a:link {
	position: relative;
	margin-right: 80px;
	padding-bottom: 25px;
	color: white;
	text-decoration: none;
}


.container {
	width: 1400px;
	height: auto;
	margin: 0 auto;
}
.header-hero {
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 100px;
	width: 50%;
	height: auto;
}

.header-hero2 {
	display: inline-block;
	padding-top: 50px;
	width: 30%;
	height: auto;
}

.container .header-hero h1{
	position: relative;
	font-size: 80px;
	text-align: center;
	margin-bottom: 50px;
}

.container .header-hero button{
	position: relative;
	background: white;
	font-size: 10px;
	margin-left: 38%;
	padding: 5px 45px 5px 45px;
	text-align: center;
}

.container .header-hero img{
	position: relative;
	margin-top: 50px;
	margin-left: 200px;
	width: 70%;
	height: auto;    
	
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
			transition:         transform .8s ease-in-out;

}

.middle-img {
	width: 100%;
}

footer {
	text-align: center;
	margin-top: 50px;
	padding-bottom: 100px; 
}

.section-line {
	border-top: black solid 1px;
	margin-top: 30px;
	padding-top: 30px; 
	font-size: 0;
}

.header-line {
	font-size: 0px;
}

.container .section-line div:nth-child(2) {
	padding-left: 50px; 
}

.container .header-hero2:nth-child(2) {
	margin-left: 70px;
}

p {
	text-align: justify;
	text-justify: auto;
	font-size: 18px;
}

img:hover {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
} 